apiVersion: apps/v1
kind: ReplicaSet
metadata: 
  name: web-rs
spec:
  replicas: 3
  selector:
    matchLabels:
      app: web
    template:
      metadata:
        labels:
          app: web
      spec:
        containers:
          - name: node-docker-app
            image: jayesh1410/node-docker-app
